{% extends "layout.html" %}

{% block content %}
    <h1>Speed per HR</h1>
    <canvas id="chart1" style="width: 100%; height: 1000px"></canvas>

    <script>
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("chart1").getContext("2d");
    var data = {
        labels: {{ data[0]|tojson|safe }},
        datasets: [
            {
                label: "Fitness",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ data[1]|tojson|safe }}
            },
            {
                label: "Smoothed fitness",
                fillColor: "rgba(220,0,0,0.2)",
                strokeColor: "rgba(220,0,0,1)",
                pointColor: "rgba(220,0,0,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: {{ data[2]|tojson|safe }}
            }
        ]
    };
    var options = {
        scaleOverride: true,
        scaleSteps: 8,
        scaleStepWidth: 5,
        scaleStartValue: 20

    };
    var myLineChart = new Chart(ctx).Line(data, options);
    </script>

{% endblock %}
