<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <!-- Maybe move to materialize? -->
</head>

<body>
    <div class="container">
        {% if session.athlete %}
            {{ session.athlete.firstname }}
            <img src="{{ session.athlete.picture }}"/>            
        {% endif %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
