{% extends "layout.html" %}

{% block content %}


    <h1>View by Day of Week</h1>
    <a class="waves-effect waves-light btn" onclick="plotByDay();">Plot Distance By Day</a>
    <a class="waves-effect waves-light btn" onclick="plotByDist();">Plot Runs By Distance</a>
    <canvas id="chart1" style="width: 100%; height: 600px"></canvas>

    <script>
        activities = {{ data|safe }};
        function clearChart() {
          $("#chart1").replaceWith('<canvas id="chart1" style="width: 100%; height: 600px"></canvas>');

        }

        function plotByDay() {
          clearChart();
          var sums = [0, 0, 0, 0, 0, 0, 0]
          var ctx = document.getElementById("chart1").getContext("2d");
          for (var i = 0; i < activities.length; i++) {
            a = activities[i];
            sums[a.day] += a.distance / 1609;
          }
          var data = {
            labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            datasets: [
                {
                    label: "Week",
                    fillColor: "rgba(220,220,0,0.2)",
                    strokeColor: "rgba(220,220,0,1)",
                    pointColor: "rgba(220,220,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,0,1)",
                    data: sums
                }
            ]
        };
        var options = {
        };
        var myBar = new Chart(ctx).Bar(data, options);
      };


      function plotByDist() {
        clearChart();
        var tots = [0, 0, 0, 0, 0, 0]
        var ctx = document.getElementById("chart1").getContext("2d");
        for (var i = 0; i < activities.length; i++) {
          a = activities[i];
          dist = a.distance / 1609;
          bins = [0, 3, 6, 8, 11, 14, 1000];
          for (var j = 0; j < bins.length - 1; j++) {
              if ( bins[j] <= dist && dist < bins[j+1] ) {
                  tots[j] += 1;
                  break;
              }
          }

        }

        var data = {
          labels: ['0-3', '3-6', '6-8', '8-11', '11-14', '14+'],
          datasets: [
              {
                  label: "Distance Range",
                  fillColor: "rgba(220,220,0,0.2)",
                  strokeColor: "rgba(220,220,0,1)",
                  pointColor: "rgba(220,220,0,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(220,220,0,1)",
                  data: tots
              }
          ]
      };
      var options = {
      };
      var myBar = new Chart(ctx).Bar(data, options);
    };

    </script>


{% endblock %}
