{% extends "layout.html" %}

{% block content %}


    <h1>View by Day of Week</h1>
    <a class="waves-effect waves-light btn" onclick="plotByDay();">Plot Distance By Day</a>
    <canvas id="chart1" style="width: 100%; height: 1000px"></canvas>

    <script>
        activities = {{ data|safe }};
        function plotByDay() {
          var sums = [0, 0, 0, 0, 0, 0, 0]
          var ctx = document.getElementById("chart1").getContext("2d");
          for (var i = 0; i < activities.length; i++) {
            a = activities[i];
            sums[a.day] += a.distance / 1609;
          }
          var data = {
            labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            datasets: [
                {
                    label: "Week",
                    fillColor: "rgba(220,220,0,0.2)",
                    strokeColor: "rgba(220,220,0,1)",
                    pointColor: "rgba(220,220,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,0,1)",
                    data: sums
                }
            ]
        };
        var options = {
        };
        var myBar = new Chart(ctx).Bar(data, options);
        };

    </script>


{% endblock %}
